html,
body,
#root,
.content,
.app {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.app{
  display: flex;
  position: relative;
}